@model Ticket
@{
    ViewData["Title"] = "View Ticket";
}

    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Prority</th>
                    <th>Name</th>
                    <th>Enail</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Id</td>
                    <td>@Model.Title</td>
                    <td>@Model.Description</td>
                    <td>@Model.Priority</td>
                    <td>@Model.RequestorName</td>
                    <td>@Model.RequestorEmail</td>
                </tr>
            </tbody>
        </table>
    </div>
